@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?gxkr0p');
  src:  url('../fonts/icomoon.eot?gxkr0p#iefix') format('embedded-opentype'),
url('../fonts/icomoon.ttf?gxkr0p') format('truetype'),
url('../fonts/icomoon.woff?gxkr0p') format('woff'),
url('../fonts/icomoon.svg?gxkr0p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-printing-text:before {
  content: "\e900";
}
.icon-shopping-bag:before {
  content: "\e901";
}
.icon-surprise:before {
  content: "\e902";
}
.icon-bag:before {
  content: "\e903";
}
.icon-prize:before {
  content: "\e904";
}
.icon-handout:before {
  content: "\e905";
}
.icon-phone-receiver:before {
  content: "\e906";
}
.icon-telephone:before {
  content: "\e907";
}
.icon-pin:before {
  content: "\e908";
}
.icon-email:before {
  content: "\e909";
}
