html, body {width: 100%; height: 100%; }
body{ font-size: 14px; color: #777;font-family: Calibri,Segoe UI,sans-serif; }
h1, h2, h3, h4, h5, h6{ margin: 0; font-weight:600; color: #333; font-family: Segoe UI,sans-serif; }
body a{color: #777; transition:0.5s all;-webkit-transition:0.5s all;-moz-transition:0.5s all;-o-transition:0.5s all;-ms-transition:0.5s all;text-decoration:none;outline:none;}
ul,label,p{margin:0;padding:0; }
ul {list-style:none;}
body a:hover{text-decoration:none;}
body a:focus{outline:none;text-decoration:none;}
img{max-width:100%;}
.pad-30{ padding:30px 0}
.pad-80{ padding:80px 0}
.box-p-40{ padding:20px;}
.container-fluid {max-width: 94%;}

header{background:#fff;box-shadow: 0px 0px 3px #ccc;}
#hd .navbar-light .navbar-nav .nav-link {text-transform: capitalize;font-weight: 500;color: #333;font-size: 20px;padding: 0px 10px;}
#hd ul.navbar-nav.ml-auto { align-items: center;} 
#hd .navbar-light .navbar-nav  li.nav-item.submission a.nav-link { background: #803881; color:#fff600; border-radius: 3px; padding: 5px 20px;}
.banners { padding: 100px 0px 80px; text-align: center;}
.bannerContent h2 { font-size: 25px; color: #fff; font-weight: 400;  padding-bottom: 20px;}
.bannerContent h3 {font-size: 5rem; font-weight: 700; font-family: Segoe UI,sans-serif; color: #fff600; padding-bottom: 20px;}
.submitNow { background: #803881; padding: 10px 30px; border-radius: 4px; font-size: 20px;color: #fff; text-transform: uppercase; display: inline-block;}
.ongoing {background: #803881; padding: 70px 0px; color: #fff;}
.ongoingContent h3 { color: #fff; font-size: 28px; font-weight: 600; line-height: 40px; margin-bottom: 40px; position: relative;}
.ongoingContent h3:before { content: ''; background: #333; width: 100px; height: 2px;position: absolute;bottom: -40px; left: 0px;}
.ongoingContent h4 {padding-top: 30px; display: block; color: #fff600; font-size: 24px;margin-bottom: 20px;}
.ongoingContent ul li { list-style: circle;margin-left: 20px; font-size: 20px;}
.filmMakers { padding-top: 40px; color: #fff;}
.title h2 { font-size: 40px; font-weight: 700; color: #fff; margin-bottom: 30px; padding-bottom: 30px;position: relative;}
.title h2:before {content: ''; background: #fff600; width: 100px; height: 2px; position: absolute; bottom: 0px; left: 0px;}
.makersContent p {font-size: 18px;  line-height: 30px; margin-bottom: 30px;}
.makersContent p span{color: #fff600;}
.makersContent ul li { list-style: disc; color: #fff600; margin-left: 20px;}
.makersContent ul li span { color: #fff;}
.makersContent ul li a { color: #fff600;}
.submissionDetail { background: #f3f4f7; padding: 50px 0px;}
.subTitle h2 {font-size: 40px; font-weight: 400; color: #222; margin-bottom: 30px; padding-bottom: 30px; position: relative;}
.subTitle h2:before { background: #803881; content: ''; width: 100px; height: 2px; position: absolute; bottom: 0px; left: 0px;}
.submissinFeee {width: 300px;height: 300px;background: #ffff;padding: 20px;position: relative;display: flex;flex-direction: column;align-items: center;justify-content: center;}
.submissinFeee p {font-size: 30px;color: #222;padding: 21px 0px;}
.submissinFeee p span {font-size: 60px;color: #803881;font-weight: 700;padding: 0px 12px 0px 0px;line-height: normal;}
.submissinFeees {position: relative;max-width: 300px;height: 300px;background: #803881;top: 0px;overflow: visible;padding: 10px 10px;}
.submissinFeee p i {    color: #803881;}
.feeContent h3 {    font-size: 28px;    font-weight: 700;    margin-bottom: 20px;}
.feeContent ul li {color: #333;font-size: 18px;line-height: 30px;margin-bottom: 10px;margin-left: 20px;position: relative;}
.feeContent ul li span {    color: #803881;    font-weight: 700;}
.feeContent ul li:before{content:'';background:#333;width: 5px;height:1px;position:absolute;left: -20px;top: 15px;}
.submissionMain { background: #803881;  overflow: hidden;}
.eligiblity {  padding: 60px 20px;}
.category { position: relative; background: #5c0f5d; overflow: visible; padding: 60px 20px;}
.eligiblityContent p, .categoryContent p { color: #fff; font-size: 18px;}
.eligiblityContent p span, .categoryContent p span{ color: #fff600;}
.eligiblityContent ul li, .categoryContent ul li { color: #fff600; list-style: disc;margin-left: 20px;  font-size: 16px;}
.eligiblityContent ul li span, .categoryContent ul li span { color: #fff;}
.eligiblityContent ul li a { color: #fff600;}
.categoryContent ul { column-count: 2;}
.category:before{content:'';background: #5c0f5d;width: 100vw;position: absolute;left: 100%;top: 0px;height: 100%;}
footer { background: #16171b; padding: 20px 0px;}
.social { text-align: right;}
.social ul li { display: inline-block;}
.copy p { color: #8b8b8d; font-size: 16px;}
.copy p span { color: #fff600;}
.social ul li a { padding: 0px 10px; font-size: 16px;}
.social ul li a:hover { color: #fff;}

.filmInfo { padding: 50px 16px;}
.pageTitle { margin-bottom: 25px; position: relative;}
.pageTitle:before { content: ''; background: #222; width: 55px; height: 2px; position: absolute; bottom: -5px; left: 0px;}
.filmInfo label { font-size: 18px; color: #333; display: block;}
.filmInfo .custom-control { display: inline-block; margin-right: 20px;}
.add { background: #171f3c; color: #fff; width: 22px; height: 22px; display: block; text-align: center; border-radius: 100%; line-height: 22px; margin-top: 6px; font-size: 12px;}
.submit { background: #171f3c; border: 0px; padding: 6px 15px; display: inline-block; color: #fff;border-radius: 3px; font-size: 16px;}
.note { background: #f6feff;  padding: 15px; font-size: 20px; color: #333; line-height: 34px; border-radius: 3px; margin-bottom: 1rem;}
.filmInfo .form-control{ height: auto; }
.tab {
  display: none;
}

input.invalid {
  background-color: #ffdddd;
}
#nextBtn {
    padding: 5px 20px;
    background: #171f3c;
    border: none;
    color: #fff;
    font-size: 17px;
}

#revBtn {
    padding: 5p;
}

#prevBtn {
  padding: 5px 20px;
  background: #803881;
  border: none;
  color: #fff;
  font-size: 17px;
}

/*payment gateway form stripe*/
        .panel-title {
        display: inline;
        font-weight: bold;
        }
        .display-table {
            display: table;
        }
        .display-tr {
            display: table-row;
        }
        .display-td {
            display: table-cell;
            vertical-align: middle;
            width: 61%;
        }
  
/*end payment gatway form*/

/* Make circles that indicate the steps of the form: */
/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

.errorcls {
  color: red;
  font-size: 14px;
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
.container-fluid { max-width: 100%;}
#hd nav.navbar {  padding: 0px;}
.navbar-brand { padding: 10px;  max-width: 110px;}
.navbar-toggler {    margin: 10px;}
#navbarResponsive { background: #803881;}
#hd ul.navbar-nav {  align-items: flex-start;    padding: 10px;}
#hd .navbar-light .navbar-nav .nav-link {color: #fff; font-size: 14px;}
#hd .navbar-light .navbar-nav li.nav-item.submission a.nav-link { padding:  0px 10px; width: 100%;  display: block;}
#hd .navbar-light .navbar-nav li {display:block;width: 100%;}
.navbar-light .navbar-toggler { border-color: #803881; border-width: 2px;}
.banners { padding: 30px;}
.bannerContent h2 { font-size: 18px;    padding-bottom: 10px;}
.bannerContent h3 { font-size: 2.5rem;}
.submitNow { font-size: 17px; padding: 6px 15px;}
.ongoing { padding: 30px 15px;}
.ongoingContent h3 { font-size: 23px; line-height: 35px; margin-bottom: 25px;}
.ongoingContent h3:before { bottom: -22px;}
.ongoingContent h4 {  font-size: 20px; padding-top: 10px; margin-bottom: 10px;}
.title h2 { font-size: 28px; margin-bottom: 15px; padding-bottom: 15px;}
.feeContent { margin-top: 30px;}
.copy,.social { text-align: center;}
}
@media (max-width: 540px) {

}
